<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/findPassword.js" defer></script>
</head>
<body>
<h1>전화번호로 본인인증하여 비밀번호 찾기</h1>
<div id="phoneNumberArea">
    <div style ="display: flex;">
        <div class="form-group" style="display: flex; align-items: center;">
            <label for="inputPhoneNumber" style="width:150px; text-align: center;">전화번호</label>
            <input type="text" class="form-control" id="inputPhoneNumber" name="userPhoneNumber" placeholder="전화번호" th:value="${phoneNumber}">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" onClick="getNum()">인증번호 받기</button>
        </div>
    </div>
</div>
<div id="certificationArea">
    <div style="display:flex;">
        <div class="form-group" style="display: flex; align-items: center;">
            <label for="inputCertificateNum" style="width:150px; text-align: center;">인증번호</label>
            <input type="text" class="form-control" id="inputCertificateNum" name="certificateNum" placeholder="인증번호">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" onClick="checkNum()">인증</button>
        </div>
    </div>
</div>
</body>
</html>
