<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script th:inline="javascript">
        let phoneNumber = /*[[${phoneNumber}]]*/
    </script>
    <script src="js/findPassword.js" defer></script>
</head>
<body>
<h1>새로운 비밀번호 설정</h1>
<div>
    <div style ="display: flex;">
        <div class="form-group" style="display: flex; align-items: center;">
            <label for="newPassword" style="width:150px; text-align: center;">새로운 비밀번호</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="비밀번호">
        </div>
    </div>
</div>
<div>
    <div style="display:flex;">
        <div class="form-group" style="display: flex; align-items: center;">
            <label for="validCheck" style="width:150px; text-align: center;">다시 입력</label>
            <input type="password" class="form-control" id="validCheck" name="validCheck" placeholder="다시 입력">
        </div>
        
    </div>
</div>
<div>
    <button type="submit" class="btn btn-primary" onClick="renamePassword(phoneNumber)">비밀번호 바꾸기</button>
</div>
</body>
</html>
